.env
.env.local
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.venv
venv/
env/
/site/

# Environment variables
.env
.env.*
.flaskenv

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Editor/IDE-specific files
.idea/
.vscode/
*.swp
*.bak
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Database files
# Ignore local database files
*.db
*.sqlite3

# Log files and user uploads
*.log
uploads/
media/